body {
    background: rgb(230, 36, 36)
    }
    
    p {
    text-align: center;
    color: #111; 
    }
    
    em strong {
    color: rgb(218, 233, 89);
    }
    
     h1 {
    color: rgb(22, 185, 207)
     }
